<html>
<%- include('head') %>
<body>
    <div id=middle>
        <p class="content">
            This site is a direct rip-off of the original <a href="https://diddukewin.com">diddukewin.com</a>, but for the Kansas Jayhawks.
        </p>
        <p class="content">
            The site tracks basketball and football games, automatically updating with live scores during games and showing final results once games conclude, linking directly to ESPN for more details.
        </p>
        <p>
            <a href="https://github.com/joshdutcher/didkansaswin">
                <img src="https://img.shields.io/badge/Source%20Code-GitHub-blue?logo=github" alt="Source Code on GitHub">
              </a>
        </p>
        <p id="nav-links"><a href="/">basketball</a> | <a href="/football">football</a></p>
    </div>
</body>
</html>